*{
  margin: 0;
  padding: 0; 
    font-family: "Roboto Slab", serif;

}

.main_box{
  background: url("photo.jpg");
  background-size: cover;
  height:100vh;
}

.btn_one{
  position:absolute;
  left:3px;
  line-height: 60px ;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.sidebar_menu{
  position: fixed;
  left:-360px;  
  height: 100vh; /*vh used for setting complete property as per viewport height*/
  width: 350px;
  background-color: rgba(255, 255, 255,0.1);
  box-shadow:8px 2px 6px rgba(255,255,255,0.5);
  transition: all 0.2s linear;
}

.sidebar_menu .logo{
  position: absolute;
  width: 100%;
  line-height: 60px;
    height: 50px;
    box-shadow:0 0 4px rgba(255,255,255,0.5);
}

.sidebar_menu .logo a{
  position: absolute;
  left:35px;
  color: white;
  text-decoration: none;
  font-size: 27px;
  font-weight:bold;
}
.sidebar_menu .btn_two{
  line-height: 60px ;
  color: grey;
  font-size: 25px;
  font-weight: 700;
    position: absolute;
  left:320px;
   opacity: 1;/*used for vanishing the symbol */
  cursor: pointer;
}

.sidebar_menu .menu{
  color:white;
  position: absolute;
  width:100%;
  top:80px;
}

.sidebar_menu .menu li{
  margin-top:6px;
  padding: 14px 20px;
}

.sidebar_menu .menu i,a{
  color:white;
  text-decoration: none;
  font-size: 20px;
}
.sidebar_menu .menu i{
  padding-right: 15px;
}
.sidebar_menu .social_media{
  color:rgb(255, 255, 255);
  opacity: 0.5;
  position: absolute;
  left:25%;
  bottom: 50px;
}
.sidebar_menu .social_media i{
  color:rgb(255, 255, 255);
  opacity: 0.5;
  padding: 0 5px;
}
#check{
  display: none;
}

.sidebar_menu .menu li:hover  {
box-shadow: 2px 2px 8px whitesmoke;
}

.btn_one:hover{
  color:rgba(12, 10, 10, 0.164);
  font-size: 40px;
}
.btn_two i:hover{
  transform:scale(2);
}
.btn_two i{
  cursor: pointer;
}
.sidebar_menu .social_media i:hover{
  opacity: 1;
  transform: scale(1.5);
}
#check:checked ~ .sidebar_menu{
  left:0;
}
#check:checked ~ .btn_one i{
  display: none;
}

